.left {
    flex: 0.33;
    border-right: 2px solid #9B9B9B;
    display: flex;
    flex-direction: column;
}

.profHeader {
    height: 150px;
    position: relative;
    border-bottom: 4px solid #eee8ff;
    background-color: #75689b;
}

.logOut {
    color: #d7cbf9;
    font-size: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
}

.logOut:hover {
    color: #baaae6;
    cursor: pointer;
}

.green-icon {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.green-icon:hover {
    color: #82bea2;
    cursor: pointer;
}

.conversations {
    background: #F3F3F3;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    flex-grow: 2;
}

.conversations::-webkit-scrollbar {
    display: none;
}

.convoSection {
    position: relative;
    border-bottom: 1px solid #C7C7C7;
    min-height: 115px;
}

.convoSection:hover {
    background: #e6e6e6;
    cursor: pointer;
}

.convoSection .profNames {
    position: absolute;
    left: 29px;
    top: 25px;
    color: #656565;
}

.convoSection .date {
    color: #989898;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    line-height: 24px;
}

.activeConvo {
    background-color: #7ba692;
}

.activeConvo .profNames,
.activeConvo .date {
    color: white;
}

.activeConvo:hover {
    background-color: #7ba692;
    cursor: initial;
}

.balanceFooter {
    height: 90px; 
    width: 100%;
    border-top: 1px solid #D9D9D9;
    align-self: flex-end;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.balanceFooter h2 {
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.1em;
    color: #80C6A4;
}

.balanceFooter button {
    height: 50px;
    width: 150px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1em;
    border-radius: 8px;
    color: #9D8BCF;
    border: 1px solid #9D8BCF;
    background: rgba(0,0,0,0);
    cursor: pointer;
}

.balanceFooter button:hover {
    background-color: #F3F3F3;
}